<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14655649036-937ci5kv3js4s0oh0nq2gm9b7aaj35fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14655649036-937ci5kv3js4s0oh0nq2gm9b7aaj35fd</string>
	<key>API_KEY</key>
	<string>AIzaSyAtFpvwiCQQAizp8eqBahAeqoY_9fLKrys</string>
	<key>GCM_SENDER_ID</key>
	<string>14655649036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMovingScreen</string>
	<key>PROJECT_ID</key>
	<string>fastcampus-market-c5a55</string>
	<key>STORAGE_BUCKET</key>
	<string>fastcampus-market-c5a55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14655649036:ios:aa991969c3e6a182838529</string>
</dict>
</plist>